<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WEEE Drop</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <div class="container pure-g">
    <div class="pure-u-1">
      <h1 class="center"><%= @recycling[:username] %>'s Badges</h2>
      <p class="center">Keep track of your waste and earn badges when you do!</p>
      <section class="stats">
        <table class="pure-table center">
          <tr>
            <td>Home location: </td><td><%= @recycling[:location] %></td>
          </tr>
          <tr>
            <td>Visits: </td><td><%= @recycling[:visits] %></td>
          </tr>
          <tr>
            <td>Local Average: </td><td><%= @recycling[:local_average_visits] %></td>
          </tr>
          <tr>
            <td>Donated amount: </td><td>£<%= sprintf('%.2f', @recycling[:donated_amount]) %></td>
          </tr>
        </table>
      </section>
      <section class="badges center">
        <img src="./images/first-timer-trophy.png" alt="">
        <img src="./images/star-trophy.png" alt="">
        <img src="./images/community-trophy.png" alt="">
      </section>
      <section class="center">
        <a class="pure-button pure-button-primary" href="/map">I want to recycle something!</a>
      </section>
    </div>
  </div>
</body>
</html>